/* main */
.planner_page_main {
	position: relative;
	display: flex;
	height: 100%;
    width: 100%;
    justify-content: center;
    padding-top: 5.5rem;
}

.planner_page_main input {
	border: none;
	cursor: default;
}

.planner_page_main input:focus {
	outline: none;
}

/* tab_area */
.tab_area_div {
	width: 20rem;
	height: 40rem;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15)!important;
}

.tab_area_div h2 {
	font-weight: 500;
	font-size: 1.5rem;
	cursor: default;
}

.tab_area_div .menu_tab {
	margin: 1.5rem 1rem 0 9rem;
    padding-right: 0.7rem;
}

.tab_area_div .planner_info_text,
.tab_area_div .privacy_text {
	cursor: pointer;
}

.tab_area_div .planner_info_text:hover,
.tab_area_div .privacy_text:hover {
	color: var(--yellow);
	border-right: 3px solid var(--yellow);
}

.tab_area_div .planner_info_text.active,
.tab_area_div .privacy_text.active {
	color: var(--blue);
	border-right: 3px solid var(--blue);
}

.profile_img_div {
	width: 13rem;
	height: 13rem;
	background-color: black;
	border-radius: 50%;
	margin: 1rem 0;
}

.tab_area_div .page_input {
	width: 50%;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
    border-bottom: 1.5px solid #aaaaaa;
}

/* planner_info_section */
.planner_info_section.show {
	display: block;
	pointer-events: auto;
}

.planner_info_section.show .planner_info_div {
	display: block;
	pointer-events: auto;
}

.planner_info_section.none .planner_info_div {
	display: none;
}

.planner_info_section.none {
	display: none;
	pointer-events: auto;
}

.planner_info_div {
    width: 50rem;
    height: 40rem;
    line-height: 1.8rem;    
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15)!important;
}

.planner_info_form {
	display: flex;
    height: 30rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2.5rem;
}


.input_div {
	width: 20rem;
	text-align: center;
	margin-bottom: 1.5rem;
}

.input_div .page_text {
	text-align: initial;
    margin-left: 2rem;
}

.input_div .page_input {
	width: 80%;
    height: 2rem;
    font-size: 1rem;
    border-bottom: 1.5px solid #aaaaaa;
}

.planner_info_div .btn_div {
	display: flex;
    width: 20rem;
    margin-top: 1rem;
    justify-content: space-evenly;
}

.planner_page_main .change_pw,
.planner_page_main .edit_info,
.planner_page_main .write_review {
	color: var(--white);
	background-color: var(--blue);
	width: 8rem;
	padding: 0.5rem 0;
	border-radius: 10px;
	transition: background-color 0.2s;
}

.change_pw,
.edit_info,
.write_review {
	border: 2px solid #fff;
	background: transparent;	
	cursor: pointer;
}

.change_pw:hover,
.edit_info:hover,
.write_review:hover {
	cursor: pointer;
	background-color: var(--yellow);
}

/* paylist_section */
.privacy_info_section.show {
	odisplay: block;
	pointer-events: auto;
}

.privacy_info_section.show .privacy_info_div {
	display: block;
	pointer-events: auto;
}

.privacy_info_div {
	display: none;
	background: cornflowerblue;
	width: 50rem;
    height: 35rem;
    line-height: 1.8rem;
}