/* signup_main */
.signup_main {
	position: relative;
	display: flex;
	height: 100%;
    width: 100%;
    justify-content: center;
    margin: 8rem 0;
}

/* accept_menu */
.signup_main .accept_menu {
    width: 12rem;
    height: 46.5rem;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.8rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;    
}

.signup_main .accept_menu h2 {
	margin-top: 1.7rem;
	font-weight: 500;
	font-size: 1.5rem;
	cursor: default;	
}

.accept_menu .accept_menu_tab {
	width: 14rem;
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.accept_menu .accept_menu_tab .accept_tab {
	cursor: pointer;
	margin: 2rem 1rem 0 1rem;
    padding-right: 0.7rem;
    height: 2rem;
    padding-top: 1rem;
}

.accept_menu .accept_menu_tab .accept_tab:hover {
	color: var(--yellow);
	border-right: 3px solid var(--yellow);
}

.accept_menu .accept_menu_tab .accept_tab.active {
	color: var(--blue);
	border-right: 3px solid var(--blue);
}

.signup_main .accept_box .accept_div {
	width: 45rem;
    height: 46.5rem;
    padding: 0 1rem;
    white-space: pre-line;
    overflow-y: scroll;
    line-height: 1.5rem;
    cursor: context-menu;
    border-radius: 0.8rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.accept_section .accept_box .accept1_div.show {
	display : block;
	pointer-events: auto;
}

.accept_section .accept_box .accept1_div.none {
	display : none;
}

.accept_section .accept_box .accept2_div {
	display : none;
}

.accept_section .accept_box .accept2_div.show {
	display : block;
	pointer-events: auto;
}

.accept_section .accept_box .accept3_div {
	display : none;
}

.accept_section .accept_box .accept3_div.show {
	display : block;
	pointer-events: auto;
}

.accept_section .accept_box .accept4_div {
	display : none;
}

.accept_section .accept_box .accept4_div.show {
	display : block;
	pointer-events: auto;
}

.accept_section .accept_box .privacy_div {
	display : none;
}

.accept_section .accept_box .privacy_div.show {
	display : block;
	pointer-events: auto;
}

.signup_main .accept_box .accept_div::-webkit-scrollbar {
	display: none;
}

/* accept_section */

/* signup_section */
.signup_main .signup_box {
	display: flex;
	flex-direction: column;
    align-items: center;
    position: relative;
    padding: 1rem 1rem 0.7rem 2rem;
    margin-left: 2rem;    
    line-height: 3rem;    
    height: 44.8rem;
    border-radius: 0.8rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.signup_section .signup_box h2 {
	font-weight: 500;
	font-size: 1.5rem;
	cursor: default;
}

.signup_main .sign_input {
	height: 100%;
    width: 85%;
    border: none;
    outline: none;
    padding: 0;
    padding-left: 2rem;
    padding-bottom: 0.2rem;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;    
}

.signup_main .sign_input:focus {
	border-bottom : 1.5px solid var(--blue);
}

.signup_main .input_box {
	position: relative;
	line-height: 2rem;
}

.signup_main .btn_area {
	width: 100%;
	display: flex;
	flex-direction: column;
    align-items: center;
}

.signup_main .sign_up_btn {
	margin-top: 1rem;
}

.signup_main .sign_up_btn {
	color: var(--white);
	background-color: var(--blue);
	width: 50%;
	padding: 0.65rem 0;
	border-radius: 10px;
	transition: background-color 0.2s;  
}

.sign_up_btn {
	margin: 0.6rem 0;
	border: 2px solid #fff;
	background: transparent;
	cursor: pointer;
}

.sign_up_btn:hover {
	background-color: var(--yellow);
}

.signup_main .chk_text {
	font-size: 12px;
	width: 20rem;
	height: 2rem;
	margin-top: -0.5rem;
}

.signup_main .pwd_valid_text {
	margin-top: 0.1rem;
	margin-bottom: 2rem;
	line-height: 1.2rem;
}

.signup_main .icon {
	position: absolute;
	font-size: 20px;
	color: #707070;
	margin-top: 0.4rem;
	left: 0;
}

.signup_main .origin_pw_hide,
.signup_main .copy_pw_hide {
	font-size: 20px;
	color: #707070;
	margin-top: 0.4rem;
	margin-left: -2rem;
	cursor: pointer;
}

.signup_main .sign_input:focus ~ .icon {
	color: var(--blue);
}