/* signup_main */
.signup_main {
	position: relative;
	display: flex;
	height: 100%;
    width: 100%;
    justify-content: center;
    padding-top: 5.5rem;
}

.signup_main input {
	border: none;
	cursor: default;
}

/* accept_menu */
.accept_menu {
    width: 12rem;
    background: antiquewhite;
}

.accept_section .accept_box {
	
}

.accept_box .accept_div {
	width: 45rem;
    height: 30rem;
    white-space: pre-line;
    overflow-y: scroll;
    line-height: 1.5rem;
    background: bisque;
}

.accept_box .accept1_div {
	
}

.accept_box .accept2_div {
	display : none;
}

.accept_box .accept3_div {
	display : none;
}

.accept_box .accept4_div {
	display : none;
}

.accept_box .privacy_div {
	display : none;
}

/* accept_section */

/* signup_section */
/*
.signup_box, .accept_menu, .accept_section {
	display: flex;
	flex-direction: column;
    align-items: center;
    position: relative;
    padding: 1.5rem 0;
    border-radius: 0.8rem;
    line-height: 3.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.signup_box {
	margin: 4rem 0 5rem 0;
	line-height: 2rem;
	width: 25%;
	padding: 2.5rem 0;
}

.sign_input {
	height: 100%;
    width: 90%;
    border: none;
    outline: none;
    padding: 0;
    padding-left: 2rem;
    padding-bottom: 0.2rem;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;    
}

.sign_input:focus {
	border-bottom : 1.5px solid var(--blue);
}

.input_box {
	position: relative;
	line-height: 2rem;
}

.sign_up_btn {
	margin-top: 1rem;
}

.signup_main .sign_up_btn {
	color: var(--white);
	background-color: var(--blue);
	width: 50%;
	padding: 0.65rem 0;
	border-radius: 10px;
	transition: background-color 0.2s;  
}

.sign_up_btn {
	margin: 1rem 0;
	border: 2px solid #fff;
	background: transparent;
	cursor: pointer;
}

.sign_up_btn:hover {
	background-color: var(--yellow);
}

.chk_text {
	font-size: 12px;
	width: 20rem;
	height: 2rem;
	margin-top: -0.5rem;
}

.pwd_valid_text {
	margin-top: 0.1rem;
	margin-bottom: 2rem;
	line-height: 1.2rem;
}

.signup_main .icon {
	position: absolute;
	font-size: 20px;
	color: #707070;
	margin-top: 0.4rem;
	left: 0;
}

.origin_pw_hide, .copy_pw_hide {
	position: absolute;
	font-size: 20px;
	color: #707070;
	margin-top: 0.4rem;
	margin-left: -1.5rem;
	cursor: pointer;
}

.sign_input:focus ~ .icon {
	color: var(--blue);
}
*/