/* form */
.user_page_main {
	position: relative;
	display: flex;
    justify-content: space-evenly;
    background-color: beige;
    height: 70rem;
}

.profile_img_div {
	width: 15rem;
	height: 15rem;
	background-color: black;
}

.payment_list_div {
	display: none;
}