.admin__notice-detail { 
  width: 90%;
  height: 100%;
  margin-bottom: 25vh;
}
.admin__notice-detail--title {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin__notice-detail--title > h1 {
  font-size: 1.5rem;
}
.admin__notice-detail--sheet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin__notice-detail--form {
}
.admin__notice-detail--list {
}
.admin__notice-component {
  margin-bottom: 1.5rem;
}
.admin__notice-component > :is(span, label, input) {
  display: inline-block;
  font-size: 1rem;
  line-height: 2rem;
  border-style: none;
  height: 2rem;
}
.admin__notice-component > :is(span, label, input):nth-child(1) {
  width: 4.5rem;
}
.admin__notice-component > :is(span, label, input):nth-child(2) {
  width: 30rem;
  border-radius: 3px;
}
.admin__notice-detail--btns {
  display: flex;
  justify-content: flex-end;
}
.btn__normal--admin-noticedetail {
  margin-left: 1rem;
}
