.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  color: white;
  background-color: #47afd0;
  transition: all 0.2s;
  /* visibility: hidden; */
}
.btn__carousel {
  opacity: 0.5;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.btn__normal {
  padding: 10px 20px;
  width: auto;
  height: auto;
  border-radius: 10px;
  font-weight: 900;
}
.btn__normal:hover {
  background: var(--yellow);
}

.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
