/* 모달창 스타일 */
.modal__detail {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

/* 모달창 배경 스타일 */
.modal::backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__window {
  display: flex;
  align-items: center;
  height: 100vh;
}
.modal__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 60vw;
  overflow: auto;
}

.thumbnail--theme-modal {
  width: 15rem;
  height: 20rem;
  margin-left: 2.8rem;
  margin-top: 2.8rem;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.thumbnail__txt--theme-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.thumbnail__txt--theme-modal p {
  color: white;
  font-size: 1.3rem;
  font-weight: 900;
}
.thumbnail--theme-modal:hover .thumbnail__txt--theme-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__info {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: white;
  height: 100vh;
  width: 35vw;
  margin-left: 3rem;
  position: relative;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.profile__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__title > h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-right: 1rem;
}
.profile > p {
  height: 6rem;
  margin-top: 2rem;
  font-size: 1.1rem;
}
.modal__btns {
  position: absolute;
  bottom: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.modal__btns--add-day {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}
.modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: auto;
  height: auto;
  background: #47afd0;
  border-radius: 10px;
  transition: background-color 0.2s;
  color: white;
  font-weight: 900;
  z-index: 999;
}
.modal__btns--add-day > .modal__btn {
  margin-left: 1rem;
}
.modal__btn--color-gray {
  background-color: gray;
}
.modal__btn:hover {
  background: var(--yellow);
}
.modal__btn > a {
  color: white;
}
.schedule {
  margin-top: 2rem;
  border: 1px solid green;
  width: 90%;
  height: 55vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.schedule__day {
  display: flex;
  width: 34rem;
}
.schedule__day--img-node {
  margin-right: 2rem;
}
.schedule__day--detail {
}
.schedule__day--detail-title > h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.schedule__day--detail-info {
  /* border: 1px solid green; */
  width: 25vw;
}
.schedule__selectboxes {
  display: flex;
  width: 100%;
  height: 1.5rem;
  justify-content: space-between;
  /* border: 1px solid green; */
  margin-bottom: 0.7rem;
  margin-top: 0.3rem;
}
.schedule__textbox {
  width: 100%;
  height: 3rem;
  background-color: wheat;
}
.schedule__textbox > p {
  font-size: 0.9rem;
}
