.planner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: auto; */
  overflow: hidden;
  margin-bottom: 20vh;
}
.planner__left {
  /* border: 1px solid red; */
  margin: 8vh 0 8vh 4vw;
  width: 29vw;
  height: 60vh;
}
.planner__intro {
  /* border: 1px solid blue; */
  box-shadow: 2px 2px 2px 2px gray;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.planner__title {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 4rem;
  width: 25vw;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.planner__txt {
  width: 25vw;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.planner__plans {
  /* border: 1px solid red; */
  margin: 8vh 4vw 8vh 0;
  width: 57vw;
  height: 60vh;
  overflow: auto;
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.thumbnail {
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.thumbnail--theme-normal {
  width: 16.4rem;
  height: 23rem;
  margin-left: 0.21rem;
  margin-top: 0.2rem;
}
.thumbnail__txt {
  width: 16.4rem;
  height: 23rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.thumbnail__txt p {
  color: white;
  font-size: 1.3rem;
  font-weight: 900;
}
.thumbnail--theme-normal:hover .thumbnail__txt {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
