@charset "UTF-8";

@import "./reset.css";
@import "./layout.css";
@import "./main.css";
@import "./planner.css";
@import "./search.css";
@import "./plannermodal.css";
@import "./talkmodal.css";
@import "./payment.css";
@import "./qna.css";

:root {
  --black: #181823;
  --blue: #47afd0;
  --sky: #c0eef2;
  --white: #e9f8f9;
  --yellow: #f2bf0a;
  scroll-behavior: auto;
}

body {
  min-height: 100vh;
}

main {
  height: 100%;
  min-height: 100%;
  margin: 7vh 0 40vh 0;
  /* border: 2px solid green; */
}
