@charset "UTF-8";

@import "./common/reset.css";
@import "./common/layout.css";
@import "./common/main.css";
@import "./common/planner.css";
@import "./common/plannermodal.css";
@import "./common/talkmodal.css";
@import "./common/payment.css";
@import "./common/component.css";
@import "./common/modal_right.css";

@import "./board/qna/qna.css";
@import "./board/qna/qna_create.css";
@import "./board/qna/qna_detail.css";

@import "./admin/admin_noticelist.css";
@import "./admin/admin_noticewrite.css";
@import "./admin/admin_userlist.css";
@import "./admin/admin_noticedetail.css";

@import "./user/sign_in.css";
@import "./user/sign_up.css";
@import "./user/find_user.css";
@import "./user/user_page.css";
@import "./user/planner_page.css";

@import "./plan/plan_list.css";


:root {
  --black: #181823;
  --blue: #47afd0;
  --sky: #c0eef2;
  --white: #e9f8f9;
  --yellow: #f2bf0a;
  scroll-behavior: auto;
}

body {
  min-height: 101vh;
}

main {
  height: 100%;
  min-height: 100%;
  margin-top: 7vh;
  margin-bottom: 25vh;
  /* border: 2px solid green; */
}
